table {
    width: 80%;
}

.allexpenses-container {
    padding: 20px;
}

.add-expense-header {
    justify-content: end;
    width: 80%;
}

.add-expense-header a {
    margin-left: 10px;
}

.mat-icon {
    padding-right: 10px;
}
